# Preliminary data analysis
Figuring out how the JSON-files are connected and which are relevant

In [2]:
import pandas as pd

### Forslag.json
reading in data and dropping metadata columns

In [17]:
forslag = pd.read_json("oda_data/Forslag.json")
forslag = forslag.drop(['odata.metadata', 'odata.count','odata.nextLink'], axis=1)

In [83]:
forslag

                                                value
0   [{'id': 25, 'typeid': 8, 'kategoriid': None, '...
1   [{'id': 3030, 'typeid': 8, 'kategoriid': None,...
2   [{'id': 5105, 'typeid': 8, 'kategoriid': None,...
3   [{'id': 7204, 'typeid': 8, 'kategoriid': None,...
4   [{'id': 11875, 'typeid': 8, 'kategoriid': None...
5   [{'id': 14452, 'typeid': 8, 'kategoriid': None...
6   [{'id': 15976, 'typeid': 8, 'kategoriid': None...
7   [{'id': 17682, 'typeid': 8, 'kategoriid': None...
8   [{'id': 20818, 'typeid': 8, 'kategoriid': None...
9   [{'id': 22903, 'typeid': 8, 'kategoriid': None...
10  [{'id': 28526, 'typeid': 8, 'kategoriid': None...
11  [{'id': 31635, 'typeid': 8, 'kategoriid': None...
12  [{'id': 34142, 'typeid': 8, 'kategoriid': None...
13  [{'id': 38033, 'typeid': 8, 'kategoriid': None...
14  [{'id': 42496, 'typeid': 8, 'kategoriid': None...
15  [{'id': 46707, 'typeid': 8, 'kategoriid': None...
16  [{'id': 50784, 'typeid': 8, 'kategoriid': None...
17  [{'id': 52864, 'typeid': 8, 'kategoriid': None...
18  [{'id': 55439, 'typeid': 8, 'kategoriid': None...
19  [{'id': 57328, 'typeid': 8, 'kategoriid': None...
20  [{'id': 59646, 'typeid': 8, 'kategoriid': None...
21  [{'id': 69701, 'typeid': 8, 'kategoriid': None...
22  [{'id': 73439, 'typeid': 8, 'kategoriid': None...
23  [{'id': 74829, 'typeid': 8, 'kategoriid': None...
24  [{'id': 76789, 'typeid': 8, 'kategoriid': None...
25  [{'id': 78415, 'typeid': 8, 'kategoriid': None...
26  [{'id': 80454, 'typeid': 8, 'kategoriid': None...
27  [{'id': 82464, 'typeid': 8, 'kategoriid': None...
28  [{'id': 83889, 'typeid': 8, 'kategoriid': None...
29  [{'id': 84789, 'typeid': 8, 'kategoriid': None...
30  [{'id': 86214, 'typeid': 8, 'kategoriid': None...
31  [{'id': 87686, 'typeid': 8, 'kategoriid': None...
32  [{'id': 88946, 'typeid': 8, 'kategoriid': None...
33  [{'id': 89766, 'typeid': 8, 'kategoriid': None...

In [100]:
forslag = pd.json_normalize(forslag['value'])

In [101]:
forslag

,id,typeid,kategoriid,statusid,titel,titelkort,offentlighedskode,nummer,nummerprefix,nummernumerisk,...,paragrafnummer,paragraf,afgørelsesdato,afgørelse,rådsmødedato,lovnummer,lovnummerdato,retsinformationsurl,fremsatundersagid,deltundersagid
0,25,8,None,21,Aktstykke om støtte til den 13. genopfyldning ...,Aktstykke om støtte til den 13. genopfyldning ...,O,Aktstk. 57,Aktstk.,57,...,6,Udenrigsministeriet,2014-02-20T00:00:00,Tiltrådt af Finansudvalget den 20-02-2014\nDan...,None,None,None,None,None,None
1,28,8,None,21,Aktstykke om forhøjet tilskud til retshjælpsin...,Aktstykke om forhøjet tilskud til retshjælpsin...,O,Aktstk. 58,Aktstk.,58,...,11,Justitsministeriet,2014-01-16T00:00:00,Tiltrådt af Finansudvalget den 16-01-2014,None,None,None,None,None,None
2,29,8,None,21,Aktstykke om forhøjelse af nettodriftsbevillin...,Aktstykke om forhøjelse af nettodriftsbevillin...,O,Aktstk. 59,Aktstk.,59,...,15,Social- og Indenrigsministeriet,2014-01-16T00:00:00,Tiltrådt af Finansudvalget den 16-01-2014,None,None,None,None,None,None
3,30,8,None,21,Aktstykke om forhøjelse af nettodriftsbevillin...,Aktstykke om forhøjelse af nettodriftsbevillin...,O,Aktstk. 60,Aktstk.,60,...,15,Social- og Indenrigsministeriet,2014-01-16T00:00:00,Tiltrådt af Finansudvalget den 16-01-2014,None,None,None,None,None,None
4,64,8,None,21,Tidligere fortroligt aktstykke om dansk genind...,Tidligere fortroligt aktstykke om dansk genind...,O,Aktstk. 61,Aktstk.,61,...,12,Forsvarsministeriet,2012-12-13T00:00:00,Tiltrådt af et flertal i Finansudvalget den 13...,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3299,89706,8,None,21,Tidligere fortroligt aktstykke J af 7. decembe...,Tidligere fortroligt aktstykke J af 7. decembe...,O,Aktstk. 12,Aktstk.,12,...,19,Uddannelses- og Forskningsministeriet,2017-12-07T00:00:00,Tiltrådt af Finansudvalget den 07-12-2017,None,None,None,None,None,None
3300,89766,8,None,23,Aktstykke om udmøntning af ekstraordinært tils...,Aktstykke om udmøntning af ekstraordinært tils...,O,Aktstk. 13,Aktstk.,13,...,20,Børne- og Undervisningsministeriet,None,None,None,None,None,None,None,None
3301,89770,8,None,23,Aktstykke om støtte til Nordic Sugar mhp. høje...,Aktstykke om støtte til Nordic Sugar mhp. høje...,O,Aktstk. 14,Aktstk.,14,...,29,"Energi-, Forsynings- og Klimaministeriet",None,None,None,None,None,None,None,None
3302,89784,8,None,23,Aktstykke om etablering af ladestandere i boli...,Aktstykke om etablering af ladestandere i boli...,O,Aktstk. 15,Aktstk.,15,...,15,Social- og Indenrigsministeriet,None,None,None,None,None,None,None,None
3303,89800,8,None,23,Aktstykke om tilskud til 2030-Panelet.,Aktstykke om tilskud til 2030-Panelet.,O,Aktstk. 16,Aktstk.,16,...,7,Finansministeriet,None,None,None,None,None,None,None,None

### Afstemning.json

In [113]:
afstemning = pd.read_json("oda_data/Afstemning.json")
afstemning = afstemning.drop(['odata.metadata', 'odata.count','odata.nextLink'], axis=1)

In [114]:
afstemning

                                                value
0   [{'id': 1, 'nummer': 411, 'konklusion': 'Vedta...
1   [{'id': 101, 'nummer': 322, 'konklusion': 'For...
2   [{'id': 201, 'nummer': 216, 'konklusion': 'Ved...
3   [{'id': 301, 'nummer': 111, 'konklusion': 'Ved...
4   [{'id': 401, 'nummer': 32, 'konklusion': 'Vedt...
..                                                ...
78  [{'id': 7877, 'nummer': 375, 'konklusion': 'Fo...
79  [{'id': 7977, 'nummer': 359, 'konklusion': 'Fo...
80  [{'id': 8077, 'nummer': 443, 'konklusion': 'Fo...
81  [{'id': 8177, 'nummer': 514, 'konklusion': 'Fo...
82  [{'id': 8277, 'nummer': 653, 'konklusion': 'Fo...

[83 rows x 1 columns]

In [116]:
afstemning = afstemning.explode('value')
afstemning = pd.json_normalize(afstemning['value'])

In [117]:
afstemning

,id,nummer,konklusion,vedtaget,kommentar,mødeid,typeid,sagstrinid,opdateringsdato
0,1,411,"Vedtaget\n\n108 stemmer for forslaget (V, S, D...",True,None,17,2,NaN,2014-09-09T09:05:59.653
1,2,412,"Vedtaget\n\n98 stemmer for forslaget (V, S, DF...",True,None,18,1,4849.0,2014-09-09T09:25:05.717
2,3,1,"Vedtaget\n\n59 stemmer for forslaget (S, RV, S...",True,,41,3,17351.0,2018-01-24T16:46:33.99
3,4,7,"Vedtaget\n\n72 stemmer for forslaget (S, DF, R...",True,,156,1,18370.0,2018-01-25T10:25:25.64
4,5,412,"Vedtaget\n\n98 stemmer for forslaget (V, S, DF...",True,,18,1,4849.0,2017-08-10T12:57:52.27
...,...,...,...,...,...,...,...,...,...
8295,8372,747,"Forslaget blev forkastet. For stemte 29 (DF, S...",False,None,11746,4,228579.0,2021-08-27T10:47:23.203
8296,8373,748,"Forslaget blev forkastet. For stemte 20 (SF, E...",False,None,11746,4,228579.0,2021-08-27T10:47:23.487
8297,8374,749,"Forslaget blev forkastet. For stemte 31 (DF, S...",False,None,11746,4,228579.0,2021-08-27T10:47:23.847
8298,8375,751,"Forslaget blev vedtaget. For stemte 71 (S, V, ...",True,None,11747,1,228581.0,2021-08-27T12:10:30.65
8299,8376,2,"Forslaget blev vedtaget. For stemte 57 (S, SF,...",True,Ved en fejl er Brian Bressendorff registreret ...,11807,3,228905.0,2021-10-08T00:39:48.32

### Afstemningstype.json

In [133]:
afstemningstype = pd.read_json("oda_data/Afstemningstype.json")
afstemningstype = afstemningstype.drop(['odata.metadata', 'odata.count'], axis=1)

In [134]:
afstemningstype

                                               value
0  [{'id': 1, 'type': 'Endelig vedtagelse', 'opda...

In [136]:
afstemningsype = afstemningstype.explode('value')
afstemningstype

                                               value
0  [{'id': 1, 'type': 'Endelig vedtagelse', 'opda...

In [137]:
afstemningstype = pd.json_normalize(afstemningstype['value'])

AttributeError: 'list' object has no attribute 'values'

### Aktoer.json

In [138]:
aktør = pd.read_json("oda_data/Aktoer.json")
aktør = aktør.drop(['odata.metadata', 'odata.count','odata.nextLink'], axis=1)

In [139]:
aktør

                                                 value
0    [{'id': 1, 'typeid': 3, 'gruppenavnkort': 'FIU...
1    [{'id': 101, 'typeid': 5, 'gruppenavnkort': No...
2    [{'id': 201, 'typeid': 5, 'gruppenavnkort': No...
3    [{'id': 301, 'typeid': 5, 'gruppenavnkort': No...
4    [{'id': 401, 'typeid': 5, 'gruppenavnkort': No...
..                                                 ...
168  [{'id': 19227, 'typeid': 5, 'gruppenavnkort': ...
169  [{'id': 19385, 'typeid': 5, 'gruppenavnkort': ...
170  [{'id': 19553, 'typeid': 12, 'gruppenavnkort':...
171  [{'id': 19788, 'typeid': 12, 'gruppenavnkort':...
172  [{'id': 19931, 'typeid': 12, 'gruppenavnkort':...

[173 rows x 1 columns]

In [141]:
aktør = aktør.explode('value')
aktør = pd.json_normalize(aktør['value'])

In [142]:
aktør

,id,typeid,gruppenavnkort,navn,fornavn,efternavn,biografi,periodeid,opdateringsdato,startdato,slutdato
0,1,3,FIU,Finansudvalget,None,None,None,32.0,2021-10-11T19:22:08.997,2013-10-01T00:00:00,2014-10-07T00:00:00
1,2,1,None,Finansministeriet,None,None,None,NaN,2020-10-06T14:29:01.507,2001-11-27T00:00:00,None
2,3,2,finansminister,finansministeren,None,None,None,NaN,2021-10-11T19:19:31.763,2019-06-27T00:00:00,None
3,4,2,økonomi- og indenrigsminister,økonomi- og indenrigsministeren,None,None,None,NaN,2021-10-11T19:19:42.783,2014-09-02T00:00:00,2015-06-28T00:00:00
4,5,5,None,Frank Aaen,Frank,Aaen,<member><url>/medlemmer/mf/f/frank-aaen</url><...,NaN,2021-09-30T09:48:38.46,2018-10-01T00:00:00,None
...,...,...,...,...,...,...,...,...,...,...,...
17200,19931,12,None,Hanne Vad Sørensen,Hanne Vad,Sørensen,None,NaN,2021-10-05T10:57:49.753,None,None
17201,19933,4,UFG,Uden for folketingsgrupperne - Lars Løkke Rasm...,None,None,None,155.0,2021-10-11T19:17:31.46,2021-10-05T00:00:00,2022-10-04T00:00:00
17202,19935,12,None,Erik Sminge Bundgaard,None,None,None,NaN,2021-10-07T13:43:48.073,None,None
17203,19936,13,SDG,2030-netværket,None,None,None,155.0,2021-10-11T19:22:32.83,2021-10-05T00:00:00,2022-10-04T00:00:00
17204,19937,13,SRSR,Folketingets Tværpolitiske netværk for seksuel...,None,None,None,155.0,2021-10-11T19:22:29.157,2021-10-05T00:00:00,2022-10-04T00:00:00

### AktoerAktoer.json

In [143]:
aktør_aktør = pd.read_json("oda_data/AktoerAktoer.json")
aktør_aktør = aktør_aktør.drop(['odata.metadata', 'odata.count','odata.nextLink'], axis=1)

In [144]:
aktør_aktør

                                                  value
0     [{'id': 3, 'fraaktørid': 1, 'tilaktørid': 264,...
1     [{'id': 153, 'fraaktørid': 6, 'tilaktørid': 18...
2     [{'id': 283, 'fraaktørid': 146, 'tilaktørid': ...
3     [{'id': 414, 'fraaktørid': 104, 'tilaktørid': ...
4     [{'id': 971, 'fraaktørid': 19, 'tilaktørid': 9...
...                                                 ...
1238  [{'id': 28264262, 'fraaktørid': 15775, 'tilakt...
1239  [{'id': 28264362, 'fraaktørid': 132, 'tilaktør...
1240  [{'id': 28264462, 'fraaktørid': 34, 'tilaktøri...
1241  [{'id': 28264562, 'fraaktørid': 34, 'tilaktøri...
1242  [{'id': 28264662, 'fraaktørid': 34, 'tilaktøri...

[1243 rows x 1 columns]

In [147]:
aktør_aktør = aktør_aktør.explode('value')
aktør_aktør = pd.json_normalize(aktør_aktør['value'])

In [148]:
aktør_aktør

,id,fraaktørid,tilaktørid,startdato,slutdato,opdateringsdato,rolleid
0,3,1,264,2013-10-02T00:00:00,None,2014-08-11T13:51:38.45,15
1,4,1,201,2014-06-16T00:00:00,None,2015-06-30T15:35:00.61,15
2,5,1,5,2014-06-19T00:00:00,None,2015-06-30T15:35:00.643,15
3,7,1,173,2013-10-02T00:00:00,None,2014-08-11T13:51:38.45,15
4,8,1,98,2013-10-02T00:00:00,None,2014-08-11T13:51:38.45,15
...,...,...,...,...,...,...,...
124261,28264723,213,19897,2021-10-06T00:00:00,None,2021-10-12T10:45:39.9,16
124262,28264724,139,19897,2021-10-06T00:00:00,None,2021-10-12T10:45:39.9,14
124263,28264725,274,19897,2021-10-06T00:00:00,None,2021-10-12T10:45:39.9,13
124264,28264726,275,19897,2021-10-06T00:00:00,None,2021-10-12T10:45:39.9,2
124265,28264727,15963,19897,2021-10-06T00:00:00,None,2021-10-12T10:45:39.9,4

### AktoerAktoerRolle.json

In [150]:
aktør_aktør_rolle = pd.read_json("oda_data/AktoerAktoerRolle.json")
aktør_aktør_rolle = aktør_aktør_rolle.drop(['odata.metadata', 'odata.count'], axis=1)

In [151]:
aktør_aktør_rolle

                                               value
0  [{'id': 1, 'rolle': '1. næstformand', 'opdater...

In [152]:
aktør_aktør_rolle = aktør_aktør_rolle.explode('value')
aktør_aktør_rolle = pd.json_normalize(aktør_aktør_rolle['value'])

In [153]:
aktør_aktør_rolle

    id                 rolle          opdateringsdato
0    1        1. næstformand   2015-05-29T14:49:17.54
1    2      udvalgsassistent   2015-04-22T12:53:24.92
2    3    Tidligere minister  2014-08-06T14:43:17.187
3    4      udvalgssekretær2  2014-08-06T14:43:17.187
4    5        3. næstformand  2014-08-06T14:43:17.187
5    6    orlov med vederlag  2015-02-10T14:45:59.597
6    7  folketingets formand  2014-08-06T14:43:17.187
7    8              Minister  2015-07-06T13:36:24.093
8    9        2. næstformand  2014-08-06T14:43:17.187
9   10         stedfortræder  2015-08-13T10:24:26.357
10  11        4. næstformand  2014-08-06T14:43:17.187
11  12   orlov uden vederlag  2014-10-16T21:09:23.957
12  13       udvalgssekretær  2015-04-23T15:53:56.433
13  14           næstformand  2015-07-07T11:42:46.047
14  15                medlem  2015-06-03T13:28:02.543
15  16               formand  2015-04-24T14:39:50.027
16  17   delegationssekretær   2014-09-11T15:43:08.39
17  18            Observatør  2014-08-06T14:43:17.187
18  19     udvalgsassistent2  2014-10-08T14:32:23.837
19  20         Ministertitel  2014-09-11T18:18:25.843
20  21  delegationsassistent  2014-09-11T17:04:59.773
21  22       minister, ej MF  2014-10-07T14:13:15.187
22  23        nævnsassistent  2015-06-02T14:03:15.693
23  24         nævnssekretær  2014-10-08T14:04:02.757

### Aktoertype.json

In [155]:
aktørtype = pd.read_json("oda_data/Aktoertype.json")
aktørtype = aktørtype.drop(['odata.metadata', 'odata.count'], axis=1)

In [156]:
aktørtype

                                               value
0  [{'id': 1, 'type': 'Ministerområde', 'opdateri...

In [157]:
aktørtype = aktørtype.explode('value')
aktørtype = pd.json_normalize(aktørtype['value'])

In [158]:
aktørtype

    id                       type          opdateringsdato
0    1             Ministerområde   2015-08-13T11:22:10.49
1    2              Ministertitel  2015-08-13T10:47:17.533
2    3                     Udvalg  2015-07-03T12:30:41.907
3    4           Folketingsgruppe  2015-05-11T13:25:06.573
4    5                     Person  2015-07-23T14:08:13.347
5    6                     Gruppe  2014-08-06T14:43:17.187
6    7               Anden gruppe  2014-08-06T14:43:17.187
7    8                Ministerium  2014-08-06T14:43:17.187
8    9                 Kommission  2015-06-02T14:57:33.623
9   10               Organisation  2015-07-15T13:11:55.147
10  11  Parlamentarisk forsamling  2015-06-03T13:28:02.543
11  12               Privatperson   2015-07-09T13:39:05.05
12  13       Tværpolitisk netværk  2020-10-05T16:15:21.907

### Aktstykke.json

In [160]:
aktstykke = pd.read_json("oda_data/Aktstykke.json")
aktstykke = aktstykke.drop(['odata.metadata', 'odata.count','odata.nextLink'], axis=1)

In [161]:
aktstykke

                                                value
0   [{'id': 66, 'typeid': 3, 'kategoriid': 13, 'st...
1   [{'id': 1227, 'typeid': 3, 'kategoriid': 13, '...
2   [{'id': 2642, 'typeid': 3, 'kategoriid': 13, '...
3   [{'id': 4637, 'typeid': 3, 'kategoriid': 13, '...
4   [{'id': 5805, 'typeid': 3, 'kategoriid': 13, '...
5   [{'id': 6835, 'typeid': 3, 'kategoriid': 13, '...
6   [{'id': 7648, 'typeid': 3, 'kategoriid': 13, '...
7   [{'id': 9940, 'typeid': 3, 'kategoriid': 13, '...
8   [{'id': 11668, 'typeid': 3, 'kategoriid': 12, ...
9   [{'id': 13045, 'typeid': 3, 'kategoriid': 13, ...
10  [{'id': 14553, 'typeid': 3, 'kategoriid': 13, ...
11  [{'id': 16732, 'typeid': 3, 'kategoriid': 13, ...
12  [{'id': 17918, 'typeid': 3, 'kategoriid': 13, ...
13  [{'id': 19284, 'typeid': 3, 'kategoriid': 13, ...
14  [{'id': 21433, 'typeid': 3, 'kategoriid': 13, ...
15  [{'id': 22604, 'typeid': 3, 'kategoriid': 13, ...
16  [{'id': 27705, 'typeid': 3, 'kategoriid': 13, ...
17  [{'id': 28473, 'typeid': 3, 'kategoriid': 13, ...
18  [{'id': 29517, 'typeid': 3, 'kategoriid': 13, ...
19  [{'id': 31182, 'typeid': 3, 'kategoriid': 13, ...
20  [{'id': 35792, 'typeid': 3, 'kategoriid': 13, ...
21  [{'id': 37609, 'typeid': 3, 'kategoriid': 13, ...
22  [{'id': 40270, 'typeid': 3, 'kategoriid': 13, ...
23  [{'id': 45536, 'typeid': 3, 'kategoriid': 13, ...
24  [{'id': 48563, 'typeid': 3, 'kategoriid': 13, ...
25  [{'id': 53053, 'typeid': 3, 'kategoriid': 13, ...
26  [{'id': 54647, 'typeid': 3, 'kategoriid': 13, ...
27  [{'id': 58351, 'typeid': 3, 'kategoriid': 13, ...
28  [{'id': 68657, 'typeid': 3, 'kategoriid': 13, ...
29  [{'id': 70688, 'typeid': 3, 'kategoriid': 13, ...
30  [{'id': 72137, 'typeid': 3, 'kategoriid': 13, ...
31  [{'id': 74153, 'typeid': 3, 'kategoriid': 13, ...
32  [{'id': 74703, 'typeid': 3, 'kategoriid': 12, ...
33  [{'id': 75907, 'typeid': 3, 'kategoriid': 13, ...
34  [{'id': 77281, 'typeid': 3, 'kategoriid': 13, ...
35  [{'id': 78346, 'typeid': 3, 'kategoriid': 13, ...
36  [{'id': 79447, 'typeid': 3, 'kategoriid': 13, ...
37  [{'id': 81204, 'typeid': 3, 'kategoriid': 13, ...
38  [{'id': 82561, 'typeid': 3, 'kategoriid': 13, ...
39  [{'id': 84943, 'typeid': 3, 'kategoriid': 13, ...
40  [{'id': 86402, 'typeid': 3, 'kategoriid': 13, ...
41  [{'id': 87903, 'typeid': 3, 'kategoriid': 13, ...

In [162]:
aktstykke = aktstykke.explode('value')
aktstykke = pd.json_normalize(aktstykke['value'])

In [163]:
aktstykke

,id,typeid,kategoriid,statusid,titel,titelkort,offentlighedskode,nummer,nummerprefix,nummernumerisk,...,paragrafnummer,paragraf,afgørelsesdato,afgørelse,rådsmødedato,lovnummer,lovnummerdato,retsinformationsurl,fremsatundersagid,deltundersagid
0,66,3,13,11,Forslag til lov om tillægsbevilling for finans...,Om tillægsbevillingsloven for finansåret 2013.,O,L 105,L,105,...,None,None,None,None,None,1,2014-03-18T00:00:00,None,None,NaN
1,68,3,13,11,Forslag til lov om ændring af lov om Det Centr...,Om tildeling af nyt personnummer i særlige til...,O,L 110,L,110,...,None,None,None,None,None,311,2014-03-29T00:00:00,None,None,NaN
2,69,3,13,11,Forslag til lov om Danmarks Innovationsfond.,Om Danmarks Innovationsfond.,O,L 107,L,107,...,None,None,None,None,None,306,2014-03-29T00:00:00,None,None,NaN
3,70,3,13,11,Forslag til lov om ændring af lov om forskning...,Om konsekvensændringer som følge af lov om Dan...,O,L 109,L,109,...,None,None,None,None,None,310,2014-03-29T00:00:00,None,None,NaN
4,71,3,13,11,Forslag til lov om ændring af lov om teknologi...,Om konsekvensændringer som følge af lov om Dan...,O,L 108,L,108,...,None,None,None,None,None,309,2014-03-29T00:00:00,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4194,89665,3,13,25,Forslag til lov om ændring af taxiloven. (Doku...,Om justering af taxiloven.,O,L 19,L,19,...,None,None,None,None,None,None,None,None,None,NaN
4195,89666,3,13,25,Forslag til lov om ændring af lov om fødevarer...,Om datadrevet kontrol og offentliggørelse af k...,O,L 40,L,40,...,None,None,None,None,None,None,None,None,None,NaN
4196,89667,3,13,25,Forslag til lov om ændring af lov om luftfart....,Om rammerne for indskrænkninger i adgangen til...,O,L 20,L,20,...,None,None,None,None,None,None,None,None,None,NaN
4197,89668,3,13,25,Forslag til lov om ændring af færdselsloven og...,Om markedsovervågning på færdselsområdet m.v.,O,L 21,L,21,...,None,None,None,None,None,None,None,None,None,NaN
4198,89669,3,13,25,"Forslag til lov om ændring af jernbaneloven, l...",Om fravigelse af støjkrav i forbindelse med je...,O,L 22,L,22,...,None,None,None,None,None,None,None,None,None,NaN

### Almdel.json

In [165]:
almdel = pd.read_json("oda_data/Almdel.json")
almdel = almdel.drop(['odata.metadata', 'odata.count'], axis=1)

In [166]:
almdel

                                               value
0  [{'id': 7337, 'typeid': 1, 'kategoriid': None,...

In [167]:
almdel = almdel.explode('value')
almdel = pd.json_normalize(almdel['value'])

In [168]:
almdel

,id,typeid,kategoriid,statusid,titel,titelkort,offentlighedskode,nummer,nummerprefix,nummernumerisk,...,paragrafnummer,paragraf,afgørelsesdato,afgørelse,rådsmødedato,lovnummer,lovnummerdato,retsinformationsurl,fremsatundersagid,deltundersagid
0,7337,1,None,1,UPN UM-del,UPN UM-del,O,None,,,...,None,None,None,None,None,None,None,None,None,None
1,7338,1,None,1,UPN UM-del,UPN UM-del,O,None,,,...,None,None,None,None,None,None,None,None,None,None
2,7339,1,None,1,UPN UM-del,UPN UM-del,O,None,,,...,None,None,None,None,None,None,None,None,None,None
3,7344,1,None,1,UPN UM-del,UPN UM-del,O,None,,,...,None,None,None,None,None,None,None,None,None,None
4,35738,1,None,1,UPN UM-del,UPN UM-del,O,None,,,...,None,None,None,None,None,None,None,None,None,None
5,44548,1,None,1,UPN UM-del,UPN UM-del,O,None,,,...,None,None,None,None,None,None,None,None,None,None
6,52305,1,None,1,UPN UM-del,UPN UM-del,O,None,,,...,None,None,None,None,None,None,None,None,None,None
7,52787,1,None,1,UPN UM-del,UPN UM-del,O,None,,,...,None,None,None,None,None,None,None,None,None,None

### Dagsordenspunkt.json

In [169]:
dagsordenspunkt = pd.read_json("oda_data/Dagsordenspunkt.json")
dagsordenspunkt = dagsordenspunkt.drop(['odata.metadata', 'odata.count','odata.nextLink'], axis=1)

In [170]:
dagsordenspunkt

                                                 value
0    [{'id': 1, 'kørebemærkning': None, 'titel': 'D...
1    [{'id': 108, 'kørebemærkning': None, 'titel': ...
2    [{'id': 3306, 'kørebemærkning': None, 'titel':...
3    [{'id': 3420, 'kørebemærkning': None, 'titel':...
4    [{'id': 3523, 'kørebemærkning': None, 'titel':...
..                                                 ...
256  [{'id': 62045, 'kørebemærkning': None, 'titel'...
257  [{'id': 62283, 'kørebemærkning': None, 'titel'...
258  [{'id': 62955, 'kørebemærkning': None, 'titel'...
259  [{'id': 71537, 'kørebemærkning': None, 'titel'...
260  [{'id': 71836, 'kørebemærkning': None, 'titel'...

[261 rows x 1 columns]

In [171]:
dagsordenspunkt = dagsordenspunkt.explode('value')
dagsordenspunkt = pd.json_normalize(dagsordenspunkt['value'])

In [172]:
dagsordenspunkt

,id,kørebemærkning,titel,kommentar,nummer,forhandlingskode,forhandling,superid,sagstrinid,mødeid,offentlighedskode,opdateringsdato
0,1,None,Drøftelse og afgivelse af tilsynets årlige ber...,,1,,None,NaN,NaN,4,O,2014-11-12T09:11:53.447
1,2,None,Drøftelse af svar fra Region Sjælland vedr. ti...,,2,,None,NaN,NaN,4,O,2014-11-12T09:11:53.447
2,3,None,Drøftelse af evalueringen af ordningen med tvu...,,3,,None,NaN,NaN,4,O,2014-11-12T09:11:53.447
3,4,None,Svar vedr. hvilke regler der gælder for tvangs...,,4,,None,NaN,NaN,4,O,2014-11-12T09:11:53.447
4,5,None,"Svar vedr. en nærmere redegørelse for, hvilke ...",,5,,None,NaN,NaN,4,O,2014-11-12T09:11:53.447
...,...,...,...,...,...,...,...,...,...,...,...,...
26028,71888,None,Eventuelt.,,4,,None,NaN,NaN,11979,O,2021-10-11T16:19:42.723
26029,71889,None,Modtagelse af deputation fra:,,2,,None,NaN,NaN,11942,O,2021-10-12T09:21:29.947
26030,71890,None,Tivoliforeningen vedr. støtte til de omrejsend...,,a,,None,NaN,230103.0,11942,O,2021-10-12T09:21:29.96
26031,71891,None,Modtagelse af deputation fra:,,1,,None,NaN,NaN,11945,O,2021-10-12T10:04:38.157
26032,71892,None,Præsteforeningen m.fl. vedr. nedlæggelse af Pe...,,a,,None,NaN,230104.0,11945,O,2021-10-12T10:04:38.157

### DagsordenspunktDokument.json

In [173]:
dagsordenspunkt_dokument = pd.read_json("oda_data/DagsordenspunktDokument.json")
dagsordenspunkt_dokument = dagsordenspunkt_dokument.drop(['odata.metadata', 'odata.count','odata.nextLink'], axis=1)

In [174]:
dagsordenspunkt_dokument

                                                 value
0    [{'id': 2, 'dokumentid': 11612, 'dagsordenspun...
1    [{'id': 781, 'dokumentid': 75576, 'dagsordensp...
2    [{'id': 912, 'dokumentid': 73426, 'dagsordensp...
3    [{'id': 1085, 'dokumentid': 86027, 'dagsordens...
4    [{'id': 1187, 'dokumentid': 76336, 'dagsordens...
..                                                 ...
231  [{'id': 77212, 'dokumentid': 832275, 'dagsorde...
232  [{'id': 77347, 'dokumentid': 842939, 'dagsorde...
233  [{'id': 77822, 'dokumentid': 844721, 'dagsorde...
234  [{'id': 82536, 'dokumentid': 849430, 'dagsorde...
235  [{'id': 97772, 'dokumentid': 943420, 'dagsorde...

[236 rows x 1 columns]

In [175]:
dagsordenspunkt_dokument = dagsordenspunkt_dokument.explode('value')
dagsordenspunkt_dokument = pd.json_normalize(dagsordenspunkt_dokument['value'])

In [176]:
dagsordenspunkt_dokument

          id  dokumentid  dagsordenspunktid note          opdateringsdato
0          2       11612                 67        2014-09-10T13:17:24.08
1          3       10777                 69        2014-09-10T14:50:00.71
2          4       10778                 69        2014-09-10T14:50:00.71
3          6       25419                 83       2014-09-11T13:01:38.527
4          7       25619                 74        2014-09-12T10:31:42.19
...      ...         ...                ...  ...                      ...
23538  97820      944291              71768        2021-10-12T09:26:28.71
23539  97821      944164              71892       2021-10-12T10:04:38.157
23540  97822      939728              71605       2021-10-12T10:04:38.157
23541  97823      939729              71605       2021-10-12T10:04:38.157
23542  97824      942657              71602       2021-10-12T10:04:38.157

[23543 rows x 5 columns]

### DagsordenspunktSag.json

In [177]:
dagsordenspunkt_sag = pd.read_json("oda_data/DagsordenspunktSag.json")
dagsordenspunkt_sag = dagsordenspunkt_sag.drop(['odata.metadata', 'odata.count','odata.nextLink'], axis=1)

In [178]:
dagsordenspunkt_sag

                                                value
0   [{'id': 3, 'dagsordenspunktid': 101, 'sagid': ...
1   [{'id': 222, 'dagsordenspunktid': 27433, 'sagi...
2   [{'id': 481, 'dagsordenspunktid': 34381, 'sagi...
3   [{'id': 779, 'dagsordenspunktid': 34860, 'sagi...
4   [{'id': 1114, 'dagsordenspunktid': 35459, 'sag...
5   [{'id': 1418, 'dagsordenspunktid': 35776, 'sag...
6   [{'id': 1815, 'dagsordenspunktid': 36744, 'sag...
7   [{'id': 2038, 'dagsordenspunktid': 37226, 'sag...
8   [{'id': 2430, 'dagsordenspunktid': 37945, 'sag...
9   [{'id': 2620, 'dagsordenspunktid': 38414, 'sag...
10  [{'id': 3058, 'dagsordenspunktid': 39006, 'sag...
11  [{'id': 3297, 'dagsordenspunktid': 39326, 'sag...
12  [{'id': 4088, 'dagsordenspunktid': 39704, 'sag...
13  [{'id': 4446, 'dagsordenspunktid': 40320, 'sag...
14  [{'id': 4689, 'dagsordenspunktid': 40473, 'sag...
15  [{'id': 6225, 'dagsordenspunktid': 40911, 'sag...
16  [{'id': 6469, 'dagsordenspunktid': 40885, 'sag...
17  [{'id': 6715, 'dagsordenspunktid': 41172, 'sag...
18  [{'id': 7052, 'dagsordenspunktid': 41795, 'sag...
19  [{'id': 7410, 'dagsordenspunktid': 42247, 'sag...
20  [{'id': 7699, 'dagsordenspunktid': 43182, 'sag...
21  [{'id': 7907, 'dagsordenspunktid': 43282, 'sag...
22  [{'id': 8147, 'dagsordenspunktid': 44267, 'sag...
23  [{'id': 8684, 'dagsordenspunktid': 45221, 'sag...
24  [{'id': 8985, 'dagsordenspunktid': 45500, 'sag...
25  [{'id': 9295, 'dagsordenspunktid': 46101, 'sag...
26  [{'id': 9593, 'dagsordenspunktid': 46513, 'sag...
27  [{'id': 9954, 'dagsordenspunktid': 46982, 'sag...
28  [{'id': 10332, 'dagsordenspunktid': 47499, 'sa...
29  [{'id': 10663, 'dagsordenspunktid': 47930, 'sa...
30  [{'id': 11112, 'dagsordenspunktid': 48008, 'sa...
31  [{'id': 11482, 'dagsordenspunktid': 49301, 'sa...
32  [{'id': 11741, 'dagsordenspunktid': 49545, 'sa...
33  [{'id': 12034, 'dagsordenspunktid': 49761, 'sa...
34  [{'id': 12344, 'dagsordenspunktid': 50220, 'sa...
35  [{'id': 12755, 'dagsordenspunktid': 50533, 'sa...
36  [{'id': 13065, 'dagsordenspunktid': 51040, 'sa...
37  [{'id': 13359, 'dagsordenspunktid': 51497, 'sa...
38  [{'id': 13856, 'dagsordenspunktid': 51781, 'sa...
39  [{'id': 14487, 'dagsordenspunktid': 52698, 'sa...
40  [{'id': 14657, 'dagsordenspunktid': 52904, 'sa...
41  [{'id': 14916, 'dagsordenspunktid': 53284, 'sa...
42  [{'id': 15287, 'dagsordenspunktid': 53902, 'sa...
43  [{'id': 15605, 'dagsordenspunktid': 53841, 'sa...
44  [{'id': 15777, 'dagsordenspunktid': 54293, 'sa...
45  [{'id': 16181, 'dagsordenspunktid': 54700, 'sa...
46  [{'id': 16622, 'dagsordenspunktid': 55547, 'sa...
47  [{'id': 17066, 'dagsordenspunktid': 56270, 'sa...
48  [{'id': 17504, 'dagsordenspunktid': 57024, 'sa...
49  [{'id': 17940, 'dagsordenspunktid': 57762, 'sa...
50  [{'id': 18463, 'dagsordenspunktid': 58055, 'sa...
51  [{'id': 18708, 'dagsordenspunktid': 58706, 'sa...
52  [{'id': 18981, 'dagsordenspunktid': 59125, 'sa...
53  [{'id': 19342, 'dagsordenspunktid': 59400, 'sa...
54  [{'id': 19612, 'dagsordenspunktid': 59881, 'sa...
55  [{'id': 20055, 'dagsordenspunktid': 60956, 'sa...
56  [{'id': 20408, 'dagsordenspunktid': 61314, 'sa...
57  [{'id': 20827, 'dagsordenspunktid': 61635, 'sa...
58  [{'id': 23653, 'dagsordenspunktid': 62901, 'sa...

In [179]:
dagsordenspunkt_sag = dagsordenspunkt_sag.explode('value')
dagsordenspunkt_sag = pd.json_normalize(dagsordenspunkt_sag['value'])

In [180]:
dagsordenspunkt_sag

         id  dagsordenspunktid  sagid          opdateringsdato
0         3                101   6900  2014-09-16T15:57:33.623
1         4                100    648  2014-09-16T15:57:33.623
2         6                102   6901  2014-09-16T15:57:33.623
3         7                103   6902  2014-09-16T15:57:33.623
4        11               3748   2230  2014-09-19T14:23:57.567
...     ...                ...    ...                      ...
5854  29529              71747  89758  2021-10-12T09:21:29.947
5855  29530              71890  89758   2021-10-12T09:21:29.96
5856  29531              71768  89749   2021-10-12T09:26:28.71
5857  29532              71892  89619  2021-10-12T10:04:38.157
5858  29533              71605  89619  2021-10-12T10:04:38.157

[5859 rows x 4 columns]

### Debat.json

In [181]:
debat = pd.read_json("oda_data/Debat.json")
debat = debat.drop(['odata.metadata', 'odata.count','odata.nextLink'], axis=1)

In [182]:
debat

                                                value
0   [{'id': 40, 'typeid': 6, 'kategoriid': None, '...
1   [{'id': 3462, 'typeid': 11, 'kategoriid': None...
2   [{'id': 7170, 'typeid': 6, 'kategoriid': None,...
3   [{'id': 8144, 'typeid': 6, 'kategoriid': None,...
4   [{'id': 14137, 'typeid': 6, 'kategoriid': None...
5   [{'id': 17350, 'typeid': 6, 'kategoriid': None...
6   [{'id': 22093, 'typeid': 6, 'kategoriid': None...
7   [{'id': 25705, 'typeid': 6, 'kategoriid': None...
8   [{'id': 29374, 'typeid': 6, 'kategoriid': None...
9   [{'id': 40919, 'typeid': 11, 'kategoriid': Non...
10  [{'id': 52911, 'typeid': 6, 'kategoriid': None...
11  [{'id': 64936, 'typeid': 6, 'kategoriid': None...
12  [{'id': 65036, 'typeid': 6, 'kategoriid': None...
13  [{'id': 65136, 'typeid': 6, 'kategoriid': None...
14  [{'id': 65236, 'typeid': 6, 'kategoriid': None...
15  [{'id': 65336, 'typeid': 6, 'kategoriid': None...
16  [{'id': 65436, 'typeid': 6, 'kategoriid': None...
17  [{'id': 65536, 'typeid': 6, 'kategoriid': None...
18  [{'id': 69154, 'typeid': 6, 'kategoriid': 21, ...
19  [{'id': 73095, 'typeid': 6, 'kategoriid': 28, ...
20  [{'id': 76119, 'typeid': 11, 'kategoriid': Non...
21  [{'id': 79493, 'typeid': 11, 'kategoriid': Non...
22  [{'id': 82620, 'typeid': 11, 'kategoriid': Non...
23  [{'id': 85578, 'typeid': 6, 'kategoriid': 23, ...
24  [{'id': 88825, 'typeid': 6, 'kategoriid': 21, ...

In [183]:
debat = debat.explode('value')
debat = pd.json_normalize(debat['value'])

In [184]:
debat

,id,typeid,kategoriid,statusid,titel,titelkort,offentlighedskode,nummer,nummerprefix,nummernumerisk,...,paragrafnummer,paragraf,afgørelsesdato,afgørelse,rådsmødedato,lovnummer,lovnummerdato,retsinformationsurl,fremsatundersagid,deltundersagid
0,40,6,NaN,54,Rådsmøde nr. 3288 (udenrigsanliggender) den 20...,Rådsmøde udenrigsanl. 20/1-14,O,Rådsmøde 3288 - Udenrigsanl.,,,...,None,None,None,None,2014-01-20T00:00:00,None,None,None,None,None
1,80,11,NaN,5,Udenrigsministerens sikkerhedspolitiske redegø...,Om den sikkerhedspolitiske redegørelse 2013.,O,R 7,R,7,...,None,None,None,None,None,None,None,None,None,None
2,102,11,NaN,5,Udenrigsministerens redegørelse om Europarådet...,Om Europarådets virksomhed og Danmarks deltage...,O,R 8,R,8,...,None,None,None,None,None,None,None,None,None,None
3,105,6,NaN,54,Rådsmøde nr. 3290 (økonomi og finans) den 28. ...,Rådsmøde økofin 28/1-14,O,Rådsmøde 3290 - Økofin,,,...,None,None,None,None,2014-01-28T00:00:00,None,None,None,None,None
4,168,6,NaN,54,Det Europæiske Råd den 20.-21. marts 2014,Det Europæiske Råd 20-21/3-14,O,Det Europæiske Råd 20-21/3-14,,,...,None,None,None,None,2014-03-20T00:00:00,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412,89782,6,21.0,54,Rådsmøde (udenrigsanliggender) den 18. oktober...,Rådsmøde udenrigsanliggender 18/10-21,O,Rådsmøde 18/10-21 - Udenrigsanliggender,,,...,None,None,None,None,2021-10-18T00:00:00,None,None,None,None,None
2413,89783,6,28.0,54,Rådsmøde (almindelige anliggender) den 19. okt...,Rådsmøde almindelige anliggender 19/10-21,O,Rådsmøde 19/10-21- almindelige anliggender,,,...,None,None,None,None,2021-10-19T00:00:00,None,None,None,None,None
2414,89807,6,21.0,54,Videokonference (udenrigsanliggender - udvikli...,Videokonference udviklingsministre 11/10-21,O,Videokonference 11/10-21 - udenrigsanliggender,,,...,None,None,None,None,2021-10-11T17:30:00,None,None,None,None,None
2415,89808,6,30.0,54,Uformel videokonference telekommunikationsmini...,Videokonference telekommunikation 14/10-21,O,"Videokonf. 14/10-21 - transport, tele og energi",,,...,None,None,None,None,2021-10-14T17:00:00,None,None,None,None,None
2416,89843,6,24.0,54,Videokonference for EU's økonomi- og finansmin...,Videokonference for EU's økonomi- og finansmin...,O,Videokonference 28/10-21 - økofin,,,...,None,None,None,None,2021-10-28T00:00:00,None,None,None,None,None

### DokumentAktoer.json

In [185]:
dokument_aktoer = pd.read_json("oda_data/DokumentAktoer.json")
dokument_aktoer = dokument_aktoer.drop(['odata.metadata', 'odata.count','odata.nextLink'], axis=1)

In [186]:
dokument_aktoer

                                                  value
0     [{'id': 4, 'dokumentid': 180, 'aktørid': 35, '...
1     [{'id': 119, 'dokumentid': 599, 'aktørid': 35,...
2     [{'id': 223, 'dokumentid': 1511, 'aktørid': 67...
3     [{'id': 335, 'dokumentid': 9406, 'aktørid': 22...
4     [{'id': 438, 'dokumentid': 9461, 'aktørid': 17...
...                                                 ...
8159  [{'id': 2079761, 'dokumentid': 944174, 'aktøri...
8160  [{'id': 2079941, 'dokumentid': 944240, 'aktøri...
8161  [{'id': 2080299, 'dokumentid': 944276, 'aktøri...
8162  [{'id': 2080435, 'dokumentid': 942167, 'aktøri...
8163  [{'id': 2080591, 'dokumentid': 941648, 'aktøri...

[8164 rows x 1 columns]

In [187]:
dokument_aktoer = dokument_aktoer.explode('value')
dokument_aktoer = pd.json_normalize(dokument_aktoer['value'])

In [188]:
dokument_aktoer

             id  dokumentid  aktørid          opdateringsdato  rolleid
0             4         180       35  2014-08-11T12:54:26.217       10
1             5         180      130  2014-08-11T12:54:26.217       12
2             6         184      136  2014-08-11T12:54:30.573        5
3             7         184       87  2014-08-11T12:54:30.573        6
4             8         184      138  2014-08-11T12:54:30.573        8
...         ...         ...      ...                      ...      ...
816356  2080683      943590    18751   2021-10-12T14:20:27.74        5
816357  2080684      943590    18697   2021-10-12T14:20:27.74        6
816358  2080685      943590      172   2021-10-12T14:20:27.74        8
816359  2080686      944397    19496   2021-10-12T14:21:53.74        4
816360  2080687      944397    19496   2021-10-12T14:21:53.74       10

[816361 rows x 5 columns]

### DokumentAktoerRolle

In [190]:
dokument_aktoer_rolle = pd.read_json("oda_data/DokumentAktoerRolle.json")
dokument_aktoer_rolle = dokument_aktoer_rolle.drop(['odata.metadata', 'odata.count'], axis=1)

In [191]:
dokument_aktoer_rolle

                                               value
0  [{'id': 1, 'rolle': 'Afsender', 'opdateringsda...

In [192]:
dokument_aktoer_rolle = dokument_aktoer_rolle.explode('value')
dokument_aktoer_rolle = pd.json_normalize(dokument_aktoer_rolle['value'])

In [193]:
dokument_aktoer_rolle

    id                           rolle          opdateringsdato
0    1                        Afsender   2015-07-21T13:49:19.83
1    2                        Kopi til  2015-06-01T10:19:53.733
2    3                     Stiller/MFU  2015-06-01T11:49:36.993
3    4                     Besvaret af   2015-05-28T12:56:52.43
4    5                        Minister  2015-05-22T13:01:53.497
5    6                         Spørger   2015-06-01T11:33:00.79
6    7                      Medspørger  2015-05-21T12:03:28.257
7    8                             Til  2015-06-04T13:48:04.423
8    9                  Ministerområde  2015-07-06T14:34:34.563
9   10                        Adressat   2015-08-13T15:11:22.36
10  11                        Modtager  2014-08-06T14:43:17.187
11  12                         Stiller   2015-07-21T14:34:12.88
12  13                    Relevant for   2015-04-21T14:33:09.03
13  14                        Afsender  2015-07-06T15:10:13.443
14  15                        Kopi til  2015-06-01T11:34:38.977
15  16                      Afgivet af  2015-06-02T11:44:49.723
16  17                             BCC  2015-09-16T14:19:37.723
17  18                         Kontakt  2015-09-16T14:19:37.723
18  19                        Deltager  2015-09-16T14:19:37.723
19  20                     Behandles i  2015-09-16T14:19:37.723
20  21                 Forslagsstiller  2015-09-16T14:19:37.723
21  22  Ordfører for forslagsstillerne  2015-09-16T14:19:37.723
22  23      Ordfører for forespørgerne  2015-09-16T14:19:37.723
23  24                        Ordfører  2015-09-16T14:19:37.723
24  25                           Taler  2015-09-16T14:19:37.723

### Dokumentkategori

In [196]:
dokumentkategori = pd.read_json("oda_data/Dokumentkategori.json")
dokumentkategori = dokumentkategori.drop(['odata.metadata', 'odata.count'], axis=1)

In [197]:
dokumentkategori

                                               value
0  [{'id': 1, 'kategori': 'Beslutningsreferat', '...

In [198]:
dokumentkategori = dokumentkategori.explode('value')
dokumentkategori = pd.json_normalize(dokumentkategori['value'])

In [199]:
dokumentkategori

    id                      kategori          opdateringsdato
0    1            Beslutningsreferat   2014-09-11T17:44:36.23
1    2              Pressemeddelelse  2014-08-06T14:43:17.187
2    3         Forslag til afgørelse   2014-06-24T15:24:23.66
3    4                       Hvidbog  2014-08-06T14:43:17.187
4    5                   Redegørelse   2014-06-24T15:24:23.66
..  ..                           ...                      ...
78  79               Arbejdsdokument   2015-06-01T15:10:32.86
79  80    Forslag til rammeafgørelse  2015-06-26T10:51:50.327
80  81          Indkommende dokument  2015-09-16T14:19:37.723
81  82  Internt notat med opfølgning  2015-09-16T14:19:37.723
82  83       Godkendelsesindstilling  2015-09-16T14:19:37.723

[83 rows x 3 columns]

### Dokumentstatus

In [201]:
dokumentstatus = pd.read_json("oda_data/Dokumentstatus.json")
dokumentstatus = dokumentstatus.drop(['odata.metadata', 'odata.count'], axis=1)

In [202]:
dokumentstatus

                                               value
0  [{'id': 1, 'status': 'Endeligt', 'opdateringsd...

In [203]:
dokumentstatus = dokumentstatus.explode('value')
dokumentstatus = pd.json_normalize(dokumentstatus['value'])

In [204]:
dokumentstatus

   id        status          opdateringsdato
0   1      Endeligt  2015-07-15T09:44:04.857
1   2          Låst  2014-09-27T11:37:32.857
2   3        Omdelt   2014-11-13T10:31:39.22
3   4  Tilbagetaget  2014-09-19T09:03:42.327
4   5    Foreløbigt  2015-09-16T14:19:37.723

### Dokumenttype

In [206]:
dokumenttype = pd.read_json("oda_data/Dokumenttype.json")
dokumenttype = dokumenttype.drop(['odata.metadata', 'odata.count'], axis=1)

In [207]:
dokumenttype

                                               value
0  [{'id': 1, 'type': 'Redegørelse', 'opdaterings...

In [208]:
dokumenttype = dokumenttype.explode('value')
dokumenttype = pd.json_normalize(dokumenttype['value'])

In [209]:
dokumenttype

    id                     type          opdateringsdato
0    1              Redegørelse  2015-05-20T13:01:40.133
1    2        Stedfortræderbrev  2014-08-06T14:43:17.187
2    3      Ministerredegørelse  2015-03-04T11:11:40.247
3    4                Aktstykke   2015-07-06T14:27:03.72
4    5             Forespørgsel  2015-03-25T13:39:31.217
5    6                  EU-note  2014-10-06T09:22:10.703
6    7        Fremsættelsestale  2015-03-26T10:06:41.623
7    8                  Referat  2014-08-06T14:43:17.187
8    9       Formandsmeddelelse  2014-08-06T14:43:17.187
9   10                    Notat  2014-09-29T11:26:54.447
10  11   Statsrevisorbemærkning  2014-10-11T01:33:50.333
11  12                    Bilag  2015-05-27T13:57:25.723
12  13                Spørgsmål  2015-05-26T14:37:05.147
13  14       Indstilling til EB  2014-08-06T14:43:17.187
14  15                Beretning  2014-08-06T14:43:17.187
15  16           § 20-spørgsmål  2015-05-21T11:22:00.407
16  17                     Svar  2015-05-26T14:41:14.663
17  18       Kommissionsforslag  2015-06-02T14:09:44.647
18  19               Grundnotat  2014-08-06T14:43:17.187
19  20         Rådsmødedokument  2014-11-27T15:04:27.737
20  21            Forslagstekst  2015-05-19T16:21:19.653
21  22                Dagsorden  2014-09-13T11:21:16.467
22  23                 Tekstdel  2014-10-11T01:33:49.647
23  24          Orlovsansøgning  2014-09-13T14:25:29.433
24  25                  Ugeplan  2015-09-16T14:19:37.723
25  26                    Andet  2014-10-10T18:08:29.227
26  27                Info-note  2014-12-16T15:33:51.913
27  28  Godkendelsesindstilling  2015-09-16T14:19:37.723

### Emneord.json

In [210]:
emneord = pd.read_json("oda_data/Emneord.json")
emneord = emneord.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

In [211]:
emneord

                                                 value
0    [{'id': 1, 'typeid': 1, 'emneord': 'økonomisk ...
1    [{'id': 112, 'typeid': 4, 'emneord': 'Elektris...
2    [{'id': 228, 'typeid': 3, 'emneord': 'børn', '...
3    [{'id': 361, 'typeid': 2, 'emneord': 'verbalno...
4    [{'id': 502, 'typeid': 4, 'emneord': 'Vejvæsen...
..                                                 ...
482  [{'id': 84650, 'typeid': 1, 'emneord': 'verden...
483  [{'id': 84756, 'typeid': 2, 'emneord': '2030-d...
484  [{'id': 84871, 'typeid': 2, 'emneord': 'banksa...
485  [{'id': 84993, 'typeid': 2, 'emneord': 'Klimap...
486  [{'id': 85124, 'typeid': 2, 'emneord': 'privat...

[487 rows x 1 columns]

In [212]:
emneord = emneord.explode('value')
emneord = pd.json_normalize(emneord['value'])

In [213]:
emneord

,id,typeid,emneord,opdateringsdato
0,1,1,økonomisk redegørelse,2014-12-16T18:44:04.673
1,2,3,Grønland,2014-10-06T09:34:14.377
2,3,4,Retspleje 24,2015-04-21T15:30:57.71
3,4,1,efterretningstjeneste og sikkerhedspolitik,2014-08-11T12:53:19.827
4,5,3,narkotika,2014-08-11T12:53:21.013
...,...,...,...,...
48660,85213,2,taksonomiforordningen,2021-10-04T10:40:51.83
48661,85214,2,rapporteringsforpligtelse,2021-10-04T10:40:51.83
48662,85215,2,naturbevarelse,2021-09-29T16:29:35.173
48663,85217,2,Landbrugsstyrelsen,2021-10-12T08:46:16.02
48664,85218,2,Udbudsloven,2021-10-12T10:42:21.41

### EmneordDokument.json

In [214]:
emneord_dokument = pd.read_json("oda_data/EmneordDokument.json")
emneord_dokument = emneord_dokument.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

In [216]:
emneord_dokument

                                                  value
0     [{'id': 32489, 'emneordid': 33112, 'dokumentid...
1     [{'id': 32766, 'emneordid': 33108, 'dokumentid...
2     [{'id': 33109, 'emneordid': 33097, 'dokumentid...
3     [{'id': 33423, 'emneordid': 33079, 'dokumentid...
4     [{'id': 33712, 'emneordid': 33121, 'dokumentid...
...                                                 ...
8091  [{'id': 1820316, 'emneordid': 33856, 'dokument...
8092  [{'id': 1820452, 'emneordid': 33110, 'dokument...
8093  [{'id': 1820597, 'emneordid': 33179, 'dokument...
8094  [{'id': 1820813, 'emneordid': 33154, 'dokument...
8095  [{'id': 1820961, 'emneordid': 33473, 'dokument...

[8096 rows x 1 columns]

In [217]:
emneord_dokument = emneord_dokument.explode('value')
emneord_dokument = pd.json_normalize(emneord_dokument['value'])

In [218]:
emneord_dokument

             id  emneordid  dokumentid          opdateringsdato
0         32489      33112      328881  2015-11-29T01:33:18.347
1         32490      33185      328881  2015-11-29T01:33:18.347
2         32491      33176      328881  2015-11-29T01:33:18.347
3         32492      33116      328881  2015-11-29T01:33:18.347
4         32497      35559      328892  2015-11-29T01:33:18.597
...         ...        ...         ...                      ...
809558  1821034      33102      219008  2021-10-12T15:03:46.647
809559  1821035      33331      942824  2021-10-12T15:04:18.713
809560  1821036      33331      944463  2021-10-12T15:04:19.667
809561  1821037      33219      944404  2021-10-12T15:04:19.727
809562  1821038      85017      944465   2021-10-12T15:08:10.23

[809563 rows x 4 columns]

### EmneordSag.json

In [219]:
emneord_sag = pd.read_json("oda_data/EmneordSag.json")
emneord_sag = emneord_sag.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

In [220]:
emneord_sag

                                                  value
0     [{'id': 749, 'emneordid': 387, 'sagid': 370, '...
1     [{'id': 51387, 'emneordid': 520, 'sagid': 2254...
2     [{'id': 58899, 'emneordid': 2012, 'sagid': 214...
3     [{'id': 62489, 'emneordid': 33264, 'sagid': 28...
4     [{'id': 127739, 'emneordid': 33112, 'sagid': 2...
...                                                 ...
2458  [{'id': 736913, 'emneordid': 33077, 'sagid': 8...
2459  [{'id': 737091, 'emneordid': 36479, 'sagid': 8...
2460  [{'id': 737466, 'emneordid': 33669, 'sagid': 8...
2461  [{'id': 737683, 'emneordid': 34176, 'sagid': 8...
2462  [{'id': 737817, 'emneordid': 55451, 'sagid': 1...

[2463 rows x 1 columns]

In [221]:
emneord_sag = emneord_sag.explode('value')
emneord_sag = pd.json_normalize(emneord_sag['value'])

In [222]:
emneord_sag

            id  emneordid  sagid          opdateringsdato
0          749        387    370   2014-08-11T13:23:02.27
1          750        387    371   2014-08-11T13:23:02.52
2          752        226    373  2014-08-11T13:23:04.003
3         8706       2554    574  2014-08-11T19:16:40.833
4         8849        387   4006  2014-08-11T19:19:51.583
...        ...        ...    ...                      ...
246205  737822      33258  12691  2021-10-12T15:03:46.333
246206  737823      53916  12691  2021-10-12T15:03:46.333
246207  737824      42128  12691  2021-10-12T15:03:46.333
246208  737825      33944  12691  2021-10-12T15:03:46.333
246209  737826      33102  12691  2021-10-12T15:03:46.333

[246210 rows x 4 columns]

### Emneordstype.json

In [224]:
emneordstype = pd.read_json("oda_data/Emneordstype.json")
emneordstype = emneordstype.drop(['odata.metadata', 'odata.count'], axis=1)

In [225]:
emneordstype

                                               value
0  [{'id': 1, 'type': 'Sagsområde', 'opdateringsd...

In [226]:
emneordstype = emneordstype.explode('value')
emneordstype = pd.json_normalize(emneordstype['value'])

In [227]:
emneordstype

   id           type          opdateringsdato
0   1     Sagsområde  2015-05-27T13:48:24.487
1   2  Ukontrolleret  2015-06-04T08:30:36.683
2   3   Kontrolleret  2015-05-27T13:48:24.487
3   4    Lovsagsnavn   2015-06-08T15:13:27.44
4   5      Thesaurus  2014-08-06T14:43:17.187
5   6    Kontonummer  2014-08-06T14:43:17.187
6   7   Retsgrundlag  2014-08-06T14:43:17.187

### Entitetbeskrivelse.json

In [229]:
entitet_beskrivelse = pd.read_json("oda_data/EntitetBeskrivelse.json")
entitet_beskrivelse = entitet_beskrivelse.drop(['odata.metadata', 'odata.count'], axis=1)

In [230]:
entitet_beskrivelse

                                               value
0  [{'id': 0, 'entitetnavn': 'Afstemning', 'beskr...

In [231]:
entitet_beskrivelse = entitet_beskrivelse.explode('value')
entitet_beskrivelse = pd.json_normalize(entitet_beskrivelse['value'])

In [232]:
entitet_beskrivelse

,id,entitetnavn,beskrivelse,opdateringsdato
0,0,Afstemning,Afstemning indeholder overordnet information v...,2015-09-24T12:48:21.417
1,1,Afstemningstype,Typen af afstemning,2015-09-24T12:48:21.417
2,2,Aktør,"Aktør er en samlet betegnelse for de personer,...",2015-09-24T12:48:21.417
3,3,AktørAktør,Relation imellem Person og Gruppe. Alternativt...,2015-09-24T12:48:21.417
4,4,AktørAktørRolle,"Rolle, der beskriver relationen mellem Person ...",2015-09-24T12:48:21.417
5,5,Dagsordenspunkt,"Et Dagsordenspunkt er et emne, der behandles p...",2015-09-24T12:48:21.417
6,6,Dokument,Et dokument er et journalkort med metadata om ...,2015-09-24T12:48:21.417
7,7,DokumentAktør,Relationen mellem dokument og aktør med en rol...,2015-09-24T12:48:21.417
8,8,DokumentAktørRolle,"Roller, der optræder på relationen mellem doku...",2015-09-24T12:48:21.417
9,9,Dokumentkategori,Dokumentkategori er en underinddeling af dokum...,2015-09-24T12:48:21.417
10,10,Dokumentstatus,Betegner dokumentets tilstand. Et færdigtbearb...,2015-09-24T12:48:21.417
11,11,Emneord,"Emneord er ""tags"" som tilknyttes sager og doku...",2015-09-24T12:48:21.417
12,12,Emneordstype,Typen af emneord,2015-09-24T12:48:21.417
13,13,Fil,Indeholder metadata om filer på dokumenter. Se...,2015-09-24T12:48:21.417
14,14,Møde,Et Møde er et møde i Folketingets plenum (´Mød...,2015-09-24T12:48:21.417
15,15,EntitetBeskrivelse,Indeholder metadata beskrivelser for de enkelt...,2015-09-24T12:48:21.417
16,16,MødeAktør,Relationen mellem et Møde og en Gruppe,2015-09-24T12:48:21.417
17,17,KolloneBeskrivelse,Indeholder metadata beskrivelser for de enkelt...,2015-09-24T12:48:21.417
18,18,Mødestatus,Mødestatus udtrykker status for afholdelse af ...,2015-09-24T12:48:21.417
19,19,Mødetype,"Mødetypen angiver, om mødet er i Folketingets ...",2015-09-24T12:48:21.417
20,20,Omtryk,I tilfælde af væsentlige mangler og fejl i al...,2015-09-24T12:48:21.417
21,21,Periode,"En Periode er et datointerval, der kan være n...",2015-09-24T12:48:21.417
22,22,Sag,En sag er en forekomst af de sagstyper (se Sag...,2015-09-24T12:48:21.417
23,23,SagAktør,Relationen mellem en sag og aktør (person elle...,2015-09-24T12:48:21.417
24,24,SagAktørRolle,Relationen mellem en sag og aktør (person elle...,2015-09-24T12:48:21.417
25,25,SagDokument,Relationen mellem en sag og aktør (person elle...,2015-09-24T12:48:21.417
26,26,SagDokumentRolle,"Roller, der optræder på relationen mellem en s...",2015-09-24T12:48:21.417
27,27,Sagskategori,En Sagskategori er en evt. undertype af Sagstype.,2015-09-24T12:48:21.417
28,28,Sagsstatus,"Sagsstatus angiver, hvor langt Sagen er nået i...",2015-09-24T12:48:21.417
29,29,Sagstrin,Et Sagstrin er en aktivitet i forhold til en S...,2015-09-24T12:48:21.417
30,30,SagstrinAktør,En Aktør er tilknyttet et Sagstrin via en rolle.,2015-09-24T12:48:21.417
31,31,SagstrinAktørRolle,"Roller, der optræder på relationen mellem sags...",2015-09-24T12:48:21.417
32,32,SagstrinDokument,Relation mellem et sagstrin og et dokument,2015-09-24T12:48:21.417
33,33,SagstrinSagstrin,Relationen mellem sagstrin på to eller flere s...,2015-09-24T12:48:21.417
34,34,Sagstrinsstatus,Angiver status for Sagstrinnet.,2015-09-24T12:48:21.417
35,35,Sagstrinstype,Angiver type af aktivitet – fx 1. behandling ...,2015-09-24T12:48:21.417
36,36,Sagstype,"De typer sager, der behandles i det parlamenta...",2015-09-24T12:48:21.417
37,37,Slettet,Liste af slettede entiteter,2015-09-24T12:48:21.417
38,38,Stemme,"Stemme udtrykker et medlems indstilling (for,...",2015-09-24T12:48:21.417

### EUsag.json

In [238]:
eu_sag = pd.read_json("oda_data/EUsag.json")
eu_sag = eu_sag.drop(['odata.metadata', 'odata.count'], axis=1)

In [239]:
eu_sag

  value
0    []

In [240]:
eu_sag = eu_sag.explode('value')
eu_sag = pd.json_normalize(eu_sag['value'])

AttributeError: 'float' object has no attribute 'values'

### Fil.json

In [241]:
fil = pd.read_json("oda_data/Fil.json")
fil = fil.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

In [242]:
fil

                                                  value
0     [{'id': 158, 'dokumentid': 11432, 'titel': 'Ev...
1     [{'id': 353, 'dokumentid': 11547, 'titel': 'Ov...
2     [{'id': 567, 'dokumentid': 11649, 'titel': 'SA...
3     [{'id': 734, 'dokumentid': 11760, 'titel': 'He...
4     [{'id': 936, 'dokumentid': 12089, 'titel': 'Ud...
...                                                 ...
4164  [{'id': 1627930, 'dokumentid': 944030, 'titel'...
4165  [{'id': 1628232, 'dokumentid': 944156, 'titel'...
4166  [{'id': 1628468, 'dokumentid': 944260, 'titel'...
4167  [{'id': 1628700, 'dokumentid': 944365, 'titel'...
4168  [{'id': 1629072, 'dokumentid': 944523, 'titel'...

[4169 rows x 1 columns]

In [243]:
fil = fil.explode('value')
fil = pd.json_normalize(fil['value'])

In [244]:
fil

,id,dokumentid,titel,versionsdato,filurl,opdateringsdato,variantkode,format
0,158,11432,Evaluering af lov om friplejeboliger_endelig v...,2014-09-04T15:44:54,https://www.ft.dk/samling/20131/almdel/BYB/bil...,2020-02-25T10:46:59.49,P,PDF
1,159,11432,Redegørelse for evaluering af friplejeboliglov...,2014-09-04T15:44:55,https://www.ft.dk/samling/20131/almdel/BYB/bil...,2020-02-25T10:46:59.49,P,DOCX
2,160,11432,Redegørelse for evaluering af friplejeboliglov...,2014-09-04T15:44:57,https://www.ft.dk/samling/20131/almdel/BYB/bil...,2020-02-25T10:46:59.49,P,PDF
3,162,11430,EU-note om indførsel af tysk infrastrukturafgi...,2014-09-04T15:49:38,https://www.ft.dk/samling/20131/almdel/TRU/bil...,2020-02-25T10:46:59.487,P,DOCX
4,164,11433,Yderligere Suppl Bemærkninger til L200 - Skatt...,2014-09-04T15:56:54,https://www.ft.dk/samling/20131/lovforslag/L20...,2020-02-25T10:46:59.487,P,DOCX
...,...,...,...,...,...,...,...,...
416827,1629166,944555,Udvalgsspørgsmål.pdf,2021-10-12T16:35:51,https://www.ft.dk/samling/20211/almdel/ufo/spm...,2021-10-12T16:36:55.223,P,PDF
416828,1629177,944559,(20201) FiU L239 - svar på spørgsmål 118,2021-10-12T16:36:00,https://www.ft.dk/samling/20201/lovforslag/l23...,2021-10-12T16:39:00.71,P,DOCX
416829,1629184,944561,FiU L 239 - svar på spørgsmål 112,2021-10-12T16:42:27,https://www.ft.dk/samling/20201/lovforslag/l23...,2021-10-12T16:44:23.427,P,DOCX
416830,1629187,944562,(20201) FIU L 239 - svar på spm. 237.pdf,2021-10-12T16:47:35,https://www.ft.dk/samling/20201/lovforslag/l23...,2021-10-12T16:49:54.153,P,PDF
416831,1629199,944567,Oversendelsesbrev,2021-10-12T17:01:41,https://www.ft.dk/samling/20211/almdel/eru/bil...,2021-10-12T17:03:48.583,P,DOCX

### Forslag.json

In [245]:
forslag = pd.read_json("oda_data/Forslag.json")
forslag = forslag.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

In [246]:
forslag

                                                value
0   [{'id': 25, 'typeid': 8, 'kategoriid': None, '...
1   [{'id': 3030, 'typeid': 8, 'kategoriid': None,...
2   [{'id': 5105, 'typeid': 8, 'kategoriid': None,...
3   [{'id': 7204, 'typeid': 8, 'kategoriid': None,...
4   [{'id': 11875, 'typeid': 8, 'kategoriid': None...
5   [{'id': 14452, 'typeid': 8, 'kategoriid': None...
6   [{'id': 15976, 'typeid': 8, 'kategoriid': None...
7   [{'id': 17682, 'typeid': 8, 'kategoriid': None...
8   [{'id': 20818, 'typeid': 8, 'kategoriid': None...
9   [{'id': 22903, 'typeid': 8, 'kategoriid': None...
10  [{'id': 28526, 'typeid': 8, 'kategoriid': None...
11  [{'id': 31635, 'typeid': 8, 'kategoriid': None...
12  [{'id': 34142, 'typeid': 8, 'kategoriid': None...
13  [{'id': 38033, 'typeid': 8, 'kategoriid': None...
14  [{'id': 42496, 'typeid': 8, 'kategoriid': None...
15  [{'id': 46707, 'typeid': 8, 'kategoriid': None...
16  [{'id': 50784, 'typeid': 8, 'kategoriid': None...
17  [{'id': 52864, 'typeid': 8, 'kategoriid': None...
18  [{'id': 55439, 'typeid': 8, 'kategoriid': None...
19  [{'id': 57328, 'typeid': 8, 'kategoriid': None...
20  [{'id': 59646, 'typeid': 8, 'kategoriid': None...
21  [{'id': 69701, 'typeid': 8, 'kategoriid': None...
22  [{'id': 73439, 'typeid': 8, 'kategoriid': None...
23  [{'id': 74829, 'typeid': 8, 'kategoriid': None...
24  [{'id': 76789, 'typeid': 8, 'kategoriid': None...
25  [{'id': 78415, 'typeid': 8, 'kategoriid': None...
26  [{'id': 80454, 'typeid': 8, 'kategoriid': None...
27  [{'id': 82464, 'typeid': 8, 'kategoriid': None...
28  [{'id': 83889, 'typeid': 8, 'kategoriid': None...
29  [{'id': 84789, 'typeid': 8, 'kategoriid': None...
30  [{'id': 86214, 'typeid': 8, 'kategoriid': None...
31  [{'id': 87686, 'typeid': 8, 'kategoriid': None...
32  [{'id': 88946, 'typeid': 8, 'kategoriid': None...
33  [{'id': 89766, 'typeid': 8, 'kategoriid': None...

In [247]:
forslag = forslag.explode('value')
forslag = pd.json_normalize(forslag['value'])

In [248]:
forslag

,id,typeid,kategoriid,statusid,titel,titelkort,offentlighedskode,nummer,nummerprefix,nummernumerisk,...,paragrafnummer,paragraf,afgørelsesdato,afgørelse,rådsmødedato,lovnummer,lovnummerdato,retsinformationsurl,fremsatundersagid,deltundersagid
0,25,8,None,21,Aktstykke om støtte til den 13. genopfyldning ...,Aktstykke om støtte til den 13. genopfyldning ...,O,Aktstk. 57,Aktstk.,57,...,6,Udenrigsministeriet,2014-02-20T00:00:00,Tiltrådt af Finansudvalget den 20-02-2014\nDan...,None,None,None,None,None,None
1,28,8,None,21,Aktstykke om forhøjet tilskud til retshjælpsin...,Aktstykke om forhøjet tilskud til retshjælpsin...,O,Aktstk. 58,Aktstk.,58,...,11,Justitsministeriet,2014-01-16T00:00:00,Tiltrådt af Finansudvalget den 16-01-2014,None,None,None,None,None,None
2,29,8,None,21,Aktstykke om forhøjelse af nettodriftsbevillin...,Aktstykke om forhøjelse af nettodriftsbevillin...,O,Aktstk. 59,Aktstk.,59,...,15,Social- og Indenrigsministeriet,2014-01-16T00:00:00,Tiltrådt af Finansudvalget den 16-01-2014,None,None,None,None,None,None
3,30,8,None,21,Aktstykke om forhøjelse af nettodriftsbevillin...,Aktstykke om forhøjelse af nettodriftsbevillin...,O,Aktstk. 60,Aktstk.,60,...,15,Social- og Indenrigsministeriet,2014-01-16T00:00:00,Tiltrådt af Finansudvalget den 16-01-2014,None,None,None,None,None,None
4,64,8,None,21,Tidligere fortroligt aktstykke om dansk genind...,Tidligere fortroligt aktstykke om dansk genind...,O,Aktstk. 61,Aktstk.,61,...,12,Forsvarsministeriet,2012-12-13T00:00:00,Tiltrådt af et flertal i Finansudvalget den 13...,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3299,89706,8,None,21,Tidligere fortroligt aktstykke J af 7. decembe...,Tidligere fortroligt aktstykke J af 7. decembe...,O,Aktstk. 12,Aktstk.,12,...,19,Uddannelses- og Forskningsministeriet,2017-12-07T00:00:00,Tiltrådt af Finansudvalget den 07-12-2017,None,None,None,None,None,None
3300,89766,8,None,23,Aktstykke om udmøntning af ekstraordinært tils...,Aktstykke om udmøntning af ekstraordinært tils...,O,Aktstk. 13,Aktstk.,13,...,20,Børne- og Undervisningsministeriet,None,None,None,None,None,None,None,None
3301,89770,8,None,23,Aktstykke om støtte til Nordic Sugar mhp. høje...,Aktstykke om støtte til Nordic Sugar mhp. høje...,O,Aktstk. 14,Aktstk.,14,...,29,"Energi-, Forsynings- og Klimaministeriet",None,None,None,None,None,None,None,None
3302,89784,8,None,23,Aktstykke om etablering af ladestandere i boli...,Aktstykke om etablering af ladestandere i boli...,O,Aktstk. 15,Aktstk.,15,...,15,Social- og Indenrigsministeriet,None,None,None,None,None,None,None,None
3303,89800,8,None,23,Aktstykke om tilskud til 2030-Panelet.,Aktstykke om tilskud til 2030-Panelet.,O,Aktstk. 16,Aktstk.,16,...,7,Finansministeriet,None,None,None,None,None,None,None,None

### KolonneBeskrivelse.json

In [250]:
kollone_beskrivelse = pd.read_json("oda_data/KolloneBeskrivelse.json")
kollone_beskrivelse = kollone_beskrivelse.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

In [261]:
kollone_beskrivelse.columns

Index(['id', 'entitetnavn', 'kollonenavn', 'beskrivelse', 'opdateringsdato'], dtype='object')

In [266]:
kollone_beskrivelse = kollone_beskrivelse.explode('value')
kollone_beskrivelse = pd.json_normalize(kollone_beskrivelse['value'])

KeyError: 'value'

In [267]:
kollone_beskrivelse

,id,entitetnavn,kollonenavn,beskrivelse,opdateringsdato
0,0,Afstemning,id,Unik identifikation af Aktør,2015-09-24T12:48:31.82
1,1,Afstemning,kommentar,Afstemningskommentar (ændring af stemmer ved f...,2015-09-24T12:48:31.82
2,2,Afstemning,konklusion,"Afstemningsresultat, hvor der stemmes om et fo...",2015-09-24T12:48:31.82
3,3,Afstemning,mødeid,En afstemning foregår i et møde.,2015-09-24T12:48:31.82
4,4,Afstemning,nummer,"Afstemningsnummer, fortløbende indenfor en per...",2015-09-24T12:48:31.82
...,...,...,...,...,...
219,219,SyncLogger,eksternId,None,2015-09-24T12:48:31.82
220,220,SyncLogger,entitet,None,2015-09-24T12:48:31.82
221,221,SyncLogger,godkendtdato,None,2015-09-24T12:48:31.82
222,222,SyncLogger,id,None,2015-09-24T12:48:31.82
223,223,SyncLogger,internId,None,2015-09-24T12:48:31.82

### Moede.json

In [268]:
møde = pd.read_json("oda_data/Moede.json")
møde = møde.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

In [269]:
møde

                                                value
0   [{'id': 1, 'titel': 'Møde i REU den 8/9-14', '...
1   [{'id': 339, 'titel': 'Møde i salen', 'lokale'...
2   [{'id': 448, 'titel': 'SOU - 28/2-13', 'lokale...
3   [{'id': 548, 'titel': 'Møde i SUU den 16/4-13'...
4   [{'id': 648, 'titel': 'Møde i SUU den 6/6-13',...
..                                                ...
92  [{'id': 11495, 'titel': 'Finansudvalget', 'lok...
93  [{'id': 11595, 'titel': 'Indfødsretsudvalget',...
94  [{'id': 11695, 'titel': 'Epidemiudvalget', 'lo...
95  [{'id': 11795, 'titel': 'Beskæftigelsesudvalge...
96  [{'id': 11895, 'titel': 'Møde i salen', 'lokal...

[97 rows x 1 columns]

In [270]:
møde = møde.explode('value')
møde = pd.json_normalize(møde['value'])

In [271]:
møde

,id,titel,lokale,nummer,dagsordenurl,starttidsbemærkning,offentlighedskode,dato,statusid,typeid,periodeid,opdateringsdato
0,1,Møde i REU den 8/9-14,2-080,None,,11.00,O,2014-09-08T11:00:00,2,2,32,2014-11-12T09:14:16.883
1,2,MIU - Ekspertmøde om EU´s affaldsdirektiv,1-133,None,,Kl. 10.30,O,2014-09-25T10:30:00,2,2,32,2014-09-30T13:02:16.317
2,3,MIU - Dep. - Åbent samråd (AL),2-080,None,,Kl. 10.00,O,2014-09-18T10:00:00,2,2,32,2014-11-12T09:14:58.773
3,4,Møde den 9/9-14,1-008,None,,13.15,O,2014-09-09T13:15:00,2,2,32,2014-11-12T09:11:53.447
4,5,Møde i REU den 9/9-14,S-092,None,,15.00,O,2014-09-09T15:00:00,2,2,32,2014-09-19T14:46:22.96
...,...,...,...,...,...,...,...,...,...,...,...,...
9683,11978,Social- og Ældreudvalget - dep.,S-092,None,,,O,2021-10-28T13:00:00,1,2,155,2021-10-12T10:02:32.807
9684,11979,Sundhedsudvalget,2-011,None,,kl. 14.00,O,2021-10-26T14:00:00,1,2,155,2021-10-11T16:19:42.723
9685,11980,Sundhedsudvalget,2-011,None,,kl. 15.00,O,2021-10-28T15:00:00,1,2,155,2021-10-12T14:07:18.1
9686,11981,Granskningsudvalget,2-011,None,,kl. 9.30,O,2021-10-15T09:30:00,1,2,155,2021-10-12T14:33:32.783
9687,11982,Beskæftigelsesudvalget,2-011,None,,kl. 12.00,O,2021-11-10T12:00:00,1,2,155,2021-10-12T16:29:00.91

### MoedeAktoer.json

In [277]:
møde_aktør = pd.read_json("oda_data/MoedeAktoer.json")
møde_aktør = møde_aktør.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

In [278]:
møde_aktør

                                                value
0   [{'id': 6, 'mødeid': 6, 'aktørid': 63, 'opdate...
1   [{'id': 644, 'mødeid': 874, 'aktørid': 1, 'opd...
2   [{'id': 750, 'mødeid': 981, 'aktørid': 41, 'op...
3   [{'id': 855, 'mødeid': 1096, 'aktørid': 283, '...
4   [{'id': 959, 'mødeid': 1179, 'aktørid': 15, 'o...
..                                                ...
85  [{'id': 97817, 'mødeid': 11620, 'aktørid': 196...
86  [{'id': 98986, 'mødeid': 11574, 'aktørid': 194...
87  [{'id': 100176, 'mødeid': 11766, 'aktørid': 19...
88  [{'id': 100514, 'mødeid': 11753, 'aktørid': 19...
89  [{'id': 101385, 'mødeid': 11978, 'aktørid': 19...

[90 rows x 1 columns]

In [279]:
møde_aktør = møde_aktør.explode('value')
møde_aktør = pd.json_normalize(møde_aktør['value'])

In [280]:
møde_aktør

          id  mødeid  aktørid          opdateringsdato
0          6       6       63  2014-09-05T11:46:31.463
1         15      15        6    2014-09-05T15:52:05.9
2        541     774        6   2014-09-19T14:20:36.44
3        543     777        6  2014-09-19T14:20:39.333
4        544     775        6  2014-09-19T14:20:39.503
...      ...     ...      ...                      ...
8926  101450   11942    19912  2021-10-12T16:05:12.047
8927  101453   11982    19889   2021-10-12T16:29:00.91
8928  101456   11943    19878  2021-10-12T16:47:59.327
8929  101457   11928    19911  2021-10-12T16:55:25.813
8930  101458   11782    19829  2021-10-12T17:02:01.837

[8931 rows x 4 columns]

### MoedeStatus.json

In [282]:
møde_status = pd.read_json("oda_data/MoedeStatus.json")
møde_status = møde_status.drop(['odata.metadata', 'odata.count'], axis=1)

In [283]:
møde_status

                                               value
0  [{'id': 1, 'status': 'Under forberedelse', 'op...

In [284]:
møde_status = møde_status.explode('value')
møde_status = pd.json_normalize(møde_status['value'])

In [285]:
møde_status

   id              status          opdateringsdato
0   1  Under forberedelse  2015-07-14T11:59:42.647
1   2             Afholdt  2015-03-27T10:10:52.513
2   3              Aflyst  2014-09-19T14:36:24.413
3   4      Dagsorden låst   2014-10-15T10:27:06.11
4   5               Udsat  2015-01-27T11:59:31.077

### Moedetype.json

In [273]:
mødetype = pd.read_json("oda_data/Moedetype.json")
mødetype = mødetype.drop(['odata.metadata', 'odata.count'], axis=1)

In [274]:
mødetype

                                               value
0  [{'id': 1, 'type': 'Møde i salen', 'opdatering...

In [275]:
mødetype = mødetype.explode('value')
mødetype = pd.json_normalize(mødetype['value'])

In [276]:
mødetype

   id              type          opdateringsdato
0   1      Møde i salen  2015-06-25T13:13:02.187
1   2       Udvalgsmøde   2015-07-03T12:33:40.64
2   3        Andet møde  2014-11-04T12:09:35.093
3   4  ConciergeMeeting    2014-06-24T15:12:59.5
4   5  Statsrevisormøde  2015-11-18T10:41:42.077

### Omtryk

In [286]:
omtryk = pd.read_json("oda_data/Omtryk.json")
omtryk = omtryk.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

In [287]:
omtryk

                                                 value
0    [{'id': 1, 'dokumentid': 1, 'dato': '2014-08-1...
1    [{'id': 237, 'dokumentid': 13596, 'dato': '201...
2    [{'id': 440, 'dokumentid': 36252, 'dato': '201...
3    [{'id': 621, 'dokumentid': 42476, 'dato': '201...
4    [{'id': 1171, 'dokumentid': 65672, 'dato': '20...
..                                                 ...
101  [{'id': 13101, 'dokumentid': 922777, 'dato': '...
102  [{'id': 13204, 'dokumentid': 926938, 'dato': '...
103  [{'id': 13307, 'dokumentid': 929951, 'dato': '...
104  [{'id': 13414, 'dokumentid': 937585, 'dato': '...
105  [{'id': 13518, 'dokumentid': 939473, 'dato': '...

[106 rows x 1 columns]

In [288]:
omtryk = omtryk.explode('value')
omtryk = pd.json_normalize(omtryk['value'])

In [289]:
omtryk

,id,dokumentid,dato,begrundelse,opdateringsdato
0,1,1,2014-08-11T12:52:54.987,Ændret adressat,2016-03-14T09:32:33.387
1,2,1000,2014-08-07T13:01:08.6,Ændret adressat,2014-08-11T13:36:38.563
2,3,9440,2014-08-12T10:09:16.603,Ændret adressat,2014-08-12T10:09:28.007
3,4,9496,2014-06-03T12:45:08.147,Ændret adressat,2014-08-12T14:01:27.43
4,6,9567,2014-07-25T10:44:02.497,Ændret adressat,2014-08-12T21:58:05.073
...,...,...,...,...,...
10525,13543,937798,2021-10-12T12:46:08,Yderligere bilag tilføjet,2021-10-12T12:46:22.98
10526,13544,944219,2021-10-12T12:49:01.39,Ændret medspørger,2021-10-12T12:49:15.433
10527,13545,944220,2021-10-12T12:50:08.99,Ændret medspørger,2021-10-12T12:50:28.327
10528,13546,943759,2021-10-12T13:31:44.09,Ændret adressat,2021-10-12T13:32:05.017
10529,13547,943760,2021-10-12T13:32:33.767,Ændret adressat,2021-10-12T13:32:50.423

### Periode.json

In [290]:
periode = pd.read_json("oda_data/Periode.json")
periode = periode.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

In [291]:
periode

                                               value
0  [{'id': 1, 'startdato': '1995-01-01T00:00:00',...
1  [{'id': 102, 'startdato': '1958-10-07T00:00:00...

In [292]:
periode = periode.explode('value')
periode = pd.json_normalize(periode['value'])

In [293]:
periode

,id,startdato,slutdato,type,kode,titel,opdateringsdato
0,1,1995-01-01T00:00:00,1995-12-31T00:00:00,finans,19951,1995,2014-08-11T12:51:35
1,2,1996-01-01T12:00:00,1996-12-31T12:00:00,finans,19961,1996,2014-08-11T12:51:35
2,3,2002-01-01T00:00:00,2002-12-31T00:00:00,finans,20021,2002,2014-08-11T12:51:35
3,4,2003-01-01T00:00:00,2003-12-31T00:00:00,finans,20031,2003,2014-08-11T12:51:35
4,5,2004-01-01T00:00:00,2004-12-31T00:00:00,finans,20041,2004,2014-08-11T12:51:35
...,...,...,...,...,...,...,...
146,151,2019-10-01T12:00:00,2020-10-06T12:00:00,samling,20191,2019-20,2019-09-09T12:29:48.397
147,152,2020-01-01T12:00:00,2020-12-31T12:00:00,finans,20201,2020,2019-12-18T16:48:20.937
148,153,2020-10-06T12:00:00,2021-10-05T12:00:00,samling,20201,2020-21,2020-10-01T16:07:28.523
149,154,2020-01-01T12:00:00,2021-12-31T12:00:00,finans,20211,2021,2021-03-01T13:00:08.27
150,155,2021-10-05T12:00:00,2022-10-04T12:00:00,samling,20211,2021-22,2021-09-08T13:15:06.07

### Sag.json

In [294]:
sag = pd.read_json("oda_data/Sag.json")
sag = sag.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

In [295]:
sag

                                                 value
0    [{'id': 1, 'typeid': 4, 'kategoriid': 2, 'stat...
1    [{'id': 101, 'typeid': 10, 'kategoriid': 11, '...
2    [{'id': 208, 'typeid': 3, 'kategoriid': 13, 's...
3    [{'id': 308, 'typeid': 10, 'kategoriid': 11, '...
4    [{'id': 410, 'typeid': 7, 'kategoriid': None, ...
..                                                 ...
848  [{'id': 89378, 'typeid': 10, 'kategoriid': 11,...
849  [{'id': 89483, 'typeid': 8, 'kategoriid': None...
850  [{'id': 89608, 'typeid': 7, 'kategoriid': None...
851  [{'id': 89721, 'typeid': 10, 'kategoriid': 11,...
852  [{'id': 89846, 'typeid': 10, 'kategoriid': 11,...

[853 rows x 1 columns]

In [296]:
sag = sag.explode('value')
sag = pd.json_normalize(sag['value'])

In [297]:
sag

,id,typeid,kategoriid,statusid,titel,titelkort,offentlighedskode,nummer,nummerprefix,nummernumerisk,...,paragrafnummer,paragraf,afgørelsesdato,afgørelse,rådsmødedato,lovnummer,lovnummerdato,retsinformationsurl,fremsatundersagid,deltundersagid
0,1,4,2.0,8,FIU alm. del,FIU alm. del,O,None,,,...,NaN,,None,,None,,None,None,NaN,NaN
1,2,10,11.0,20,"Er ministeren enig i vurderingen af, at grønla...",Om NSA-aflytninger eller aflytninger fra andre...,O,S 725,S,725,...,NaN,None,None,None,None,None,None,None,NaN,NaN
2,3,10,11.0,20,"Hvad agter ministeren at foretage sig, så kost...","Om at bortvise elever, der har indtaget ulovli...",O,S 726,S,726,...,NaN,None,None,None,None,None,None,None,NaN,NaN
3,4,7,NaN,54,Forslag til Europa-Parlamentets og Rådets afgø...,Forslag til Europa-Parlamentets og Rådets afgø...,O,KOM (2013) 0860,KOM,860,...,NaN,None,None,None,None,None,None,None,NaN,NaN
4,5,7,NaN,54,Forslag til Rådets afgørelse om bemyndigelse a...,Forslag til Rådets afgørelse om bemyndigelse a...,O,KOM (2013) 0839,KOM,839,...,NaN,None,None,None,None,None,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85203,89868,7,NaN,15,AMENDING LETTER No 1 TO THE DRAFT GENERAL BUDG...,AMENDING LETTER No 1 TO THE DRAFT GENERAL BUDG...,O,KOM (2021) 0642,KOM,642,...,NaN,None,None,None,None,None,None,None,NaN,NaN
85204,89869,7,NaN,15,Proposal for a COUNCIL DECISION on the positio...,Proposal for a COUNCIL DECISION on the positio...,O,KOM (2021) 0643,KOM,643,...,NaN,None,None,None,None,None,None,None,NaN,NaN
85205,89870,10,11.0,22,Hvad er ministerens holdning til sagen om den ...,Om SU.,O,S 77,S,77,...,NaN,None,None,None,None,None,None,None,NaN,NaN
85206,89871,10,11.0,22,Hvad er ministerens holdning til sagen om den ...,Om SU.,O,S 78,S,78,...,NaN,None,None,None,None,None,None,None,NaN,NaN
85207,89872,10,11.0,22,Hvad er ministerens holdning til sagen om den ...,Om SU.,O,S 79,S,79,...,NaN,None,None,None,None,None,None,None,NaN,NaN

### SagAktoer.json

In [298]:
sag_aktør = pd.read_json("oda_data/SagAktoer.json")
sag_aktør = sag_aktør.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

In [299]:
sag_aktør

                                                  value
0     [{'id': 2212, 'aktørid': 255, 'sagid': 370, 'o...
1     [{'id': 473303, 'aktørid': 13691, 'sagid': 223...
2     [{'id': 492971, 'aktørid': 545, 'sagid': 7451,...
3     [{'id': 504059, 'aktørid': 16061, 'sagid': 281...
4     [{'id': 619860, 'aktørid': 513, 'sagid': 7619,...
...                                                 ...
3674  [{'id': 1564031, 'aktørid': 19561, 'sagid': 89...
3675  [{'id': 1564263, 'aktørid': 136, 'sagid': 8968...
3676  [{'id': 1564391, 'aktørid': 203, 'sagid': 8964...
3677  [{'id': 1564530, 'aktørid': 29, 'sagid': 89719...
3678  [{'id': 1564642, 'aktørid': 15794, 'sagid': 89...

[3679 rows x 1 columns]

In [300]:
sag_aktør = sag_aktør.explode('value')
sag_aktør = pd.json_normalize(sag_aktør['value'])

In [301]:
sag_aktør

             id  aktørid  sagid          opdateringsdato  rolleid
0          2212      255    370   2014-08-11T13:23:02.27        9
1          2213      256    371   2014-08-11T13:23:02.52        9
2          2221      196    373  2014-08-11T13:23:04.003        9
3         23659      372   4010  2014-08-11T19:19:55.973        9
4         23660      174   4012   2014-08-11T19:19:56.69        9
...         ...      ...    ...                      ...      ...
367894  1564736       11  89797  2021-10-12T16:39:34.943        6
367895  1564737      118  89797  2021-10-12T16:39:34.943       17
367896  1564738    18712  89797  2021-10-12T16:39:34.943       10
367897  1564740    19829  89782   2021-10-12T17:04:30.44       11
367898  1564742    19829  89783  2021-10-12T17:05:16.943       11

[367899 rows x 5 columns]

### SagAktoerRolle.json

In [303]:
sag_aktør_rolle = pd.read_json("oda_data/SagAktoerRolle.json")
sag_aktør_rolle = sag_aktør_rolle.drop(['odata.metadata', 'odata.count'], axis=1)

In [304]:
sag_aktør_rolle

                                               value
0  [{'id': 1, 'rolle': 'Taler', 'opdateringsdato'...

In [305]:
sag_aktør_rolle = sag_aktør_rolle.explode('value')
sag_aktør_rolle = pd.json_normalize(sag_aktør_rolle['value'])

In [306]:
sag_aktør_rolle

    id                           rolle          opdateringsdato
0    1                           Taler  2014-06-24T15:13:26.853
1    2  Ordfører for forslagsstillerne  2014-06-24T15:13:26.853
2    3           Tidligere henvist til  2014-06-24T15:13:26.853
3    4                              Af  2015-07-15T13:11:55.147
4    5                      Medspørger  2015-05-29T11:39:49.237
5    6                  Ministerområde  2015-07-06T15:03:37.307
6    7                       Privatist  2014-06-24T15:13:26.853
7    8                  Kopi sendt til  2015-01-29T09:32:58.137
8    9                    Relevant for  2015-07-09T13:31:43.287
9   10                         Spørger   2015-06-01T11:33:00.79
10  11                     Henvist til  2015-06-25T14:52:28.353
11  12                        Udsteder  2015-02-12T13:31:30.293
12  13                      Optaget af  2014-06-24T15:13:26.853
13  14                        Minister  2015-08-13T10:24:56.373
14  15                     Forespørger  2015-05-20T18:17:12.463
15  16         Forslagsstiller (priv.)  2015-05-29T16:33:18.817
16  17                             Til  2015-07-09T13:49:36.873
17  18                      Afgivet af  2015-05-20T13:01:40.133
18  19          Forslagsstiller (reg.)  2015-06-08T15:33:53.347
19  20                   Orlovssøgende  2015-09-16T14:19:37.723
20  21                   Stedfortræder  2015-09-16T14:19:37.723
21  22            Statsrevisor inhabil  2015-09-16T14:19:37.723
22  23                     Besvaret af  2015-09-16T14:19:37.723

### SagDokument.json ???

### SagDokumentRolle.json

In [316]:
sag_dokument_rolle = pd.read_json("oda_data/SagDokumentRolle.json")
sag_dokument_rolle = sag_dokument_rolle.drop(['odata.metadata', 'odata.count'], axis=1)

In [317]:
sag_dokument_rolle

                                               value
0  [{'id': 1, 'rolle': 'Tidl. jour. på', 'opdater...

In [319]:
sag_dokument_rolle = sag_dokument_rolle.explode('value')
sag_dokument_rolle = pd.json_normalize(sag_dokument_rolle['value'])

In [320]:
sag_dokument_rolle

   id              rolle          opdateringsdato
0   1     Tidl. jour. på  2014-09-19T14:51:24.773
1   2  Parallelomdelt på  2014-10-06T13:54:15.487
2   3        På sagstrin   2015-05-12T14:33:34.01
3   4   Hovedtilknytning  2015-07-15T09:44:04.857
4   5            Se også   2014-09-19T14:24:18.41
5   6           Relation  2014-06-24T15:13:41.907
6   7              Child  2014-06-24T15:13:41.907

### Sagskategori.json ???

In [3]:
sagskategori = pd.read_json("oda_data/Sagskategori.json")
sagskategori = sagskategori.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

ValueError: Expected object or value

### Sagsstatus.json ???

In [4]:
sagsstatus = pd.read_json("oda_data/Sagsstatus.json")
sagsstatus = sagsstatus.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

ValueError: Expected object or value

### Sagstrin.json ???

In [5]:
sagstrin = pd.read_json("oda_data/Sagstrin.json")
sagstrin = sagstrin.drop(['odata.metadata', 'odata.count','odata.nextLink'], axis=1)

ValueError: Expected object or value

### SagstrinAktoer.json

In [6]:
sagstrin_aktør = pd.read_json("oda_data/SagstrinAktoer.json")
sagstrin_aktør = sagstrin_aktør.drop(['odata.metadata', 'odata.count','odata.nextLink'], axis=1)

ValueError: Expected object or value

### SagstrinAktoerRolle.json

In [9]:
sagstrin_aktør_rolle = pd.read_json("oda_data/SagstrinAktoerRolle.json")
sagstrin_aktør_rolle = sagstrin_aktør_rolle.drop(['odata.metadata', 'odata.count','odata.nextLink'], axis=1)

ValueError: Expected object or value

### SagstrinDokument.json

In [10]:
sagstrin_dokument = pd.read_json("oda_data/SagstrinDokument.json")
sagstrin_dokument = sagstrin_dokument.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

ValueError: Expected object or value

### Sagstrinsstatus.json

In [11]:
sagstrinsstatus = pd.read_json("oda_data/Sagstrinsstatus.json")
sagstrinsstatus = sagstrinsstatus.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

ValueError: Expected object or value

### Sagstrinstype.json

In [12]:
sagstrinstype = pd.read_json("oda_data/Sagstrinstype.json")
sagstrinstype = sagstrinstype.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

ValueError: Expected object or value

### Sagstype.json

In [13]:
sagstype = pd.read_json("oda_data/Sagstype.json")
sagstype = sagstype.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

ValueError: Expected object or value

### Sambehandlinger.json

In [16]:
sambehandlinger = pd.read_json("oda_data/Sambehandlinger.json")
sambehandlinger = sambehandlinger.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

ValueError: Expected object or value

### Stemme.json

In [19]:
stemme = pd.read_json("oda_data/Stemme.json")
stemme = stemme.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

ValueError: Expected object or value

### Stemmetype.json

In [20]:
stemmetype = pd.read_json("oda_data/Stemmetype.json")
stemmetype = stemmetype.drop(['odata.metadata', 'odata.count', 'odata.nextLink'], axis=1)

ValueError: Expected object or value